{% extends 'base.html' %}

{% block title %} Add Post {% endblock %}

{% block content %}
<h1>Add Post for {{user.full_name}}</h1>
<form action="/users/{{user.id}}/posts/new" method="POST">
    <label for="title">Title:</label> <br>
    <input type="text" name="title" id="title" /> <br>
    <label for="content">Content:</label> <br>
    <input type="text" name="content" id="content" /> <br>
    <h2>Tag Options:</h2>
    {% for tag in all_tags %}
    <input type="checkbox" name="tag-id" id="{{tag.name}}" value="{{tag.id}}">
    <label for="{{tag.name}}">{{tag.name}}</label>
    {% endfor %}
    <button>Add</button>
</form>
<a href="/users/{{user.id}}"><button>Cancel</button></a>
{% endblock %}